body {
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --font-color: #fff;
    --box-shadaw: #0e3879;
}

/* first section starts here */

#top-banner-section {
    background: rgb(0, 0, 0, 0.5) url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    margin-top: -20px;
}

h1 {
    font-size: 50px;
    margin: 15px 0;
}

h2 {
    font-size: 30px;
}

.top-section {
    padding: 180px;
    color: var(--font-color);
}

.top-section p {
    width: 480px;
    margin-bottom: 30px;
}

.btn {
    text-decoration: none;
    color: var(--font-color);
    background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
    padding: 10px 20px;
    border-radius: 5px;
}

.btn:hover {
    box-shadow: -5px -5px 40px var(--box-shadaw);
}

/* first section ends here */

/* second section starts here */

#second-section {
    display: flex;
    justify-content: space-evenly;
    margin: 130px 204px;
}

.half-width {
    width: 50%;
    margin: 0 41.5px;
}

#half-width-01 {
    width: 493px;
    height: 374px;
    padding-top: 40px;
}

#half-width-01 p {
    margin: 30px 0;
}

#half-width-02 iframe {
    width: 456px;
    height: 400px;
}

/* second section ends here */

/* third section starts here */

#third-section {
    display: flex;
    justify-content: space-evenly;
    margin: 0 204px;
}

#half-width-03 {
    width: 456px;
    height: 477px;
}

#half-width-04 {
    width: 493px;
    height: 374px;
    padding-top: 40px;
}

#half-width-04 p {
    margin: 30px 0;
}

/* third section ends here */

/* fourth section starts here */

.heading01 {
    margin: 0 auto;
    width: 664px;
    height: 184px;
    text-align: center;
}

.heading01 h2 {
    width: 492px;
    margin: 0 auto;
}

.div01 {
    display: flex;
    width: 946px;
    margin: 0 auto;
}

.div02 {
    width: 461px;
    height: 225px;
    background-color: #FEF4F5;
    padding: 40px 42px 39px 40px;
    margin: 12px;
}

.div03 {
    display: flex;
}

.div03-01 img {
    width: 56px;
    height: 56px;
    padding-right: 30px;
    padding-top: 30px;
}

/* fourth section ends here */

/* fifth section starts here */

#fifth-section {
    display: flex;
    justify-content: space-evenly;
    width: 1140px;
    margin: 130px auto;

}

.fifth-img {
    width: 364px;
    height: 391px;
    border-radius: 5px;
}

/* fifth section ends here */